<div>
  <a href="/single-post/{{id}}" class="has-text-light">{{title}}</a>
</div>
<span>Created by
  {{user.username}}
  on
  {{format_date created_at}}</span>
<li class="box mx-5 has-background-grey-light">
  {{post_content}}
</li>